.title{
    background-color: rgba(0, 0, 255, 0.723);
    color: white;
    padding: 10px 50px 10px;
    margin: 10px 0px 10px;
    text-align: left;
    font-size: 30px;
    
}
.grid-container{
  margin-top: 10px;
  margin-left: 200px;
}
.add-task{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border: 1px solid black;
    padding: 5px 5px 5px;
    border-radius: 5px;
}
#add-todo{
    border: 2px solid rgba(0, 0, 255, 0.605);
    border-radius: 5px;
    color: blue;
}
#add-todo:hover{
    background-color: blue;
    color: white;
    
}